body {
  padding: 0;
  margin: 0;
}
#timer {
  font-size: 3rem;
}

#pomo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #ed8185;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#pomo-container img {
  margin: 0.4rem;
  transition: transform 0.6s;
}
#pomo-container img:hover {
  transform: scale(1.5);
  transform: rotate(360deg);
}

.pomo-btn {
  margin: 1rem;
  font-size: 2rem;
  width: 6rem;
  background-color: #c83c51;
  color: white;
  border: 3px solid white;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.2s;
}

.pomo-btn:focus {
  outline: none;
}

.pomo-btn:hover {
  filter: brightness(85%);
}

.pomo-btn.short-btn,
.pomo-btn.long-btn {
  position: absolute;
  font-size: medium;
  width: auto;
}

.long-btn {
  left: 25%;
  bottom: 0;
}
.short-btn {
  left: 50%;
  bottom: 0;
}
